<div class="row d-flex justify-content-center">
    <body>
        <form action="/action_page.php">
            <table>
                <h3><b>ADD DOCUMENTS</b></h3><br>
                <tr>
                    <td>Document Name</td><td><input type="text"></td>
                </tr>
                <br>
                <tr>
                    <td>Document Type</td><td><input type="text"></td>
                </tr>
                <br>

                <tr>
                    <td>Upload</td><td><input type="file"></td>
                </tr><br>
                <tr>
                    <td>Added Date</td><td><input type="date"></td>
                </tr><br>
                <tr>
                    <td>Add To</td><td><select name="docs" id="docs">
                        <option value="Managemnt">Managemnt</option>
                        <option value="HR">HR</option>
                        <option value="Accounting">Accounting and finance</option>
                        <option value="IT">IT</option>
                        <option value="Marketing">Marketing</option></select></td>
                </tr><br>
                <input type="button" value="Save">    
            </table>
        </form>
    </body>
</div>