<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<head><style>
body {
    font-size: 100%;
	font-family: 'Roboto', sans-serif;
}</style></head>
<div class="row d-flex justify-content-center">
    <nb-card>
        <nb-card-body>
        <form action="/action_page.php">
            <table>
                <h3><b>ADD DOCUMENTS</b></h3><br>
                <tr>
                    <td>Document Name</td><td><input type="text"></td>
                </tr>
                <br>
                <tr>
                    <td>Document Type</td><td><input type="text"></td>
                </tr>
                <br>
                <tr>
                    <td>Issued Authority</td><td><input type="text"></td>
                </tr>
                <br><br><br>

                <tr>
                    <td>Upload</td><td><input type="file"></td>
                </tr><br>
                <tr>
                    <td>Added Date</td><td><input type="date"></td>
                </tr><br>
                <tr>
                    <td>Add To</td><td><select name="docs" id="docs">
                        <option value="Managemnt">Managemnt</option>
                        <option value="HR">HR</option>
                        <option value="Accounting">Accounting and finance</option>
                        <option value="IT">IT</option>
                        <option value="Marketing">Marketing</option></select></td>
                </tr><br>
                <button routerLink='/documents/add' class="btn btn-outline-dark">
                    <nb-icon icon="file-alt" pack="font-awesome"></nb-icon>
                    <span class="ml-2">Save</span>
                </button>
                <button routerLink='/documents/add' class="btn btn-outline-dark">
                    <span class="ml-2">Cancel</span>
                </button>    
            </table>
        </form>
        </nb-card-body>
    </nb-card>          
</div>