<div class="row justify-content-center">
    <div class="col-md-8">
      <nb-card>
        <nb-card-header>Add Warehouse Details</nb-card-header>
        <nb-card-body>
          <form class="form-horizontal">
            <div class="form-group row">
                <label for="WId" class="label col-sm-3 form-control-label">Warehouse ID</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth id="WId" placeholder="Warehouse id">
                </div>
              </div>
              <div class="form-group row">
                <label for="WName" class="label col-sm-3 form-control-label">Warehouse Name</label>
                <div class="col-sm-9">
                    <input nbInput fullWidth id="WName" placeholder="Warehouse name">
                </div>
              </div>
            <div class="row">
              <div class="col-md-3 offset-md-3">
                <button nbButton hero status="success">Submit</button>
              </div>
              <div class="col-md-3 offset-md-3">
                 <button nbButton hero status="warning">Cancel</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>