<div class="row justify-content-center">
    <div class="col-md-8">
      <nb-card>
        <nb-card-header>Add Personal Details</nb-card-header>
        <nb-card-body>
          <form class="form-horizontal">
            <div class="form-group row">
                <label for="inputFname3" class="label col-sm-3 form-control-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" nbInput [(ngModel)]="customer.name" name="name" fullWidth id="inputFname3" placeholder="First Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputAddress" class="label col-sm-3 form-control-label">Address</label>
                <div class="col-sm-9">
                  <input type="text" nbInput [(ngModel)]="customer.address" name="address" fullWidth id="inputAddress3" placeholder="Address">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPhone3" class="label col-sm-3 form-control-label">Contact Number</label>
                <div class="col-sm-9">
                  <input type="phone" nbInput [(ngModel)]="customer.phone" name="phone" fullWidth id="inputPhone3" placeholder="Contact number">
                </div>
              </div>
            <div class="form-group row">
              <label for="inputEmail3" class="label col-sm-3 form-control-label">Email</label>
              <div class="col-sm-9">
                <input type="email" nbInput [(ngModel)]="customer.email" name="email" fullWidth id="inputEmail3" placeholder="Email">
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 offset-md-3">
                <button nbButton hero status="success" (click)='onClick()'>Submit</button>
              </div>
              <div class="col-md-3 offset-md-3">
                 <button nbButton hero status="warning"(click)='onClickCancel()'>Cancel</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
