<nb-card size="medium">
  <nb-card-body>
    <div class="row d-flex justify-content-end">
      <button routerLink="/delivery/add" nbButton hero status="primary">
        <nb-icon icon="chart-line" pack="font-awesome"></nb-icon>
        <span class="ml-2">Add Delivery</span>
      </button>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <nb-tabset fullWidth>
          <nb-tab tabTitle="OVERVIEW">
            <div class="row d-flex justify-content-center">
              <div class="col-12">
                <nb-card>
                  <nb-card-body>
                    <div class="row d-flex justify-content-center">
                      <nb-card-body>
                        <div class="subtitle">{{ "Delivery Count" }}</div>
                        <div class="h3">
                          {{ deliveryDefault.current | ngxNumberWithCommas }}
                        </div>
                        <nb-progress-bar
                          [value]="deliveryDefault.getProgress()" status='success'
                        ></nb-progress-bar>
                        <div class="caption description">
                          <bdi>{{ "Deliveries made in this month" }}</bdi>
                        </div>
                      </nb-card-body>
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="DETAILED VIEW">
          <div class="col-12">
            <nb-card>
              <nb-card-body>
                <div class="row d-flex justify-content-center">
                  <ng2-smart-table
                    [settings]="settings"
                    [source]="data"
                  ></ng2-smart-table>
                </div>
              </nb-card-body>
            </nb-card>
            </div>
          </nb-tab>
        </nb-tabset>
      </div>
    </div>
  </nb-card-body>
</nb-card>
