<div class="row justify-content-center">
    <div class="col-md-8">
      <nb-card>
        <nb-card-header>Add Product Details</nb-card-header>
        <nb-card-body>
          <form class="form-horizontal">
            <div class="form-group row">
                <label for="pid" class="label col-sm-3 form-control-label">Product ID</label>
                <div class="col-sm-9">
                  <input nbInput fullWidth id="pid" placeholder="product id">
                </div>
              </div>
              <div class="form-group row">
                <label for="Pname" class="label col-sm-3 form-control-label">Product Name</label>
                <div class="col-sm-9">
                    <input nbInput fullWidth id="Pname" placeholder="product name">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputAddress" class="label col-sm-3 form-control-label">Brand</label>
                <div class="col-sm-9">
                    <nb-select placeholder="Select Brand" [(selected)]="selectedItem">
                        <nb-option value="">Brand A</nb-option>
                        <nb-option value="0">Brand B</nb-option>
                        <nb-option value="1">Brand C</nb-option>
                        <nb-option value="2">Brand D</nb-option>
                        <nb-option value="3">Brand E</nb-option>
                    </nb-select>
                </div>
              </div>
              <div class="form-group row">
                <label for="Supplier" class="label col-sm-3 form-control-label">Supplier</label>
                <div class="col-sm-9">
                  <input  nbInput fullWidth id="Supplier" placeholder="Supplier ID">
                </div>
              </div>
             <div class="form-group row">
                <label for="Physical" class="label col-sm-3 form-control-label">Physical Stock</label>
                <div class="col-sm-9">
                    <input type="Number" nbInput fullWidth id="Physical" placeholder="Amount">
                </div>
              </div>
            <div class="form-group row">
                <label for="Reserved" class="label col-sm-3 form-control-label">Reserved Stock</label>
                <div class="col-sm-9">
                  <input type="Number" nbInput fullWidth id="Reserved" placeholder="Amount">
                </div>
              </div>
            <div class="form-group row">
                <label for="Available" class="label col-sm-3 form-control-label">Available Stock</label>
                <div class="col-sm-9">
                  <input type="Number" nbInput fullWidth id="Available" placeholder="Amount">
                </div>
              </div>

            <div class="row">
              <div class="col-md-3 offset-md-3">
                <button nbButton hero status="success">Submit</button>
              </div>
              <div class="col-md-3 offset-md-3">
                 <button nbButton hero status="warning">Cancel</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
