<div class="row d-flex justify-content-center">
    <nb-card>
        <nb-card-body>
            <div class="row mb-4 mt-2 mr-2 justify-content-end">
                <button routerLink='/customer/add' class="btn btn-outline-dark">
                    <nb-icon icon="users" pack="font-awesome"></nb-icon>
                    <span class= 'ml-3'>Add Customer</span>
                </button>
            </div>
            <div class="row m-2">
                <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
            </div>
        </nb-card-body>
    </nb-card>
</div>
