<div class="row justify-content-center">
  <div class="col-md-8">
    <nb-card>
      <nb-card-header>Mark Attendence</nb-card-header>
      <nb-card-body>
        <form class="form-horizontal">
          <br>
          <div class="form-group row">
            <label for="id" class="label col-sm-3 form-control-label">ID</label>
            <div class="col-sm-9">
              <nb-select id="id" placeholder="Select ID" [(selected)]="selectedItem">
                <nb-option *ngFor="let usr of users" value="{{usr.username}}">{{usr.username}}</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="form-group row">
            <label for="date" class="label col-sm-3 form-control-label">Date</label>
            <div class="col-sm-9">
              <input nbInput id="date" placeholder="Date" [nbDatepicker]="dateTimePicker">
              <nb-datepicker #dateTimePicker></nb-datepicker>
            </div>
          </div>
          <div class="form-group row">
            <label for="type" class="label col-sm-3 form-control-label">Type</label>
            <div class="col-sm-9">
              <div class="form-group row">
                <div class="col-5">
                  <nb-radio-group id="type" [(ngModel)]="selectedOption">
                    <nb-radio value="present">Present</nb-radio>
                  </nb-radio-group>
                </div>
                <div class="col-5">
                    <nb-radio value="absent">Absent</nb-radio>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="intime" class="label col-sm-3 form-control-label">In Time</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="intime" placeholder="In Time">
            </div>
          </div>
          <div class="form-group row">
            <label for="outtime" class="label col-sm-3 form-control-label">Out Time</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="outtime" placeholder="Out Time">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3 offset-md-3">
              <button nbButton hero status="success">Submit</button>
            </div>
            <div class="col-md-3 offset-md-3">
              <button nbButton hero status="warning">Cancel</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
