<div class="row justify-content-center">
    <div class="col-md-8">
      <nb-card>
        <nb-card-header>Add Supplier Details</nb-card-header>
        <nb-card-body>
          <form class="form-horizontal">
            <div class="form-group row">
                <label for="inputFname3" class="label col-sm-3 form-control-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" nbInput [(ngModel)] = "suppliers.name" name="name" fullWidth id="inputFname3" placeholder="Name">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPhone3" class="label col-sm-3 form-control-label">Contact Number</label>
                <div class="col-sm-9">
                  <input type="text" nbInput [(ngModel)] = "suppliers.phone" name="phone" fullWidth id="inputPhone3" placeholder="Contact Number">
                </div>
              </div>
              <div class="form-group row">
                <label for="emailAddress" class="label col-sm-3 form-control-label">Email Address</label>
                <div class="col-sm-9">
                  <input type="email" nbInput [(ngModel)] = "suppliers.email" name="email" fullWidth id="emailAddress" placeholder="email">
                </div>
              </div>
            <div class="row">
              <div class="col-md-3 offset-md-3">
                <button nbButton hero status="success" (click) = 'onClick()' >Submit</button>
              </div>
              <div class="col-md-3 offset-md-3">
                 <button nbButton hero status="warning" (click) = 'cancel()'>Cancel</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
