<nb-card>
  <nb-card-body>
    <h1 align="center">Adjustments</h1>
    <form>
      <fieldset>
        <legend>Adjustment Details</legend>
        <br>
        <div class="row">
          <div class="col-4">
            ID
          </div>
          <div class="col-6">
            <select id="id" name="id">
              <option value="001">001</option>
              <option value="002">002</option>
              <option value="003">003</option>
              <option value="004">004</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-4">
            Description
          </div>
          <div class="col-6">
            <input type="text" id="description" required/>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-4">
            Date
          </div>
          <div class="col-6">
            <input type="date" id="date" required/>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-4">
            Amount
          </div>
          <div class="col-6">
            <input type="text" id="amount" required/>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-4">
            Type
          </div>
          <div class="col-6">
            <select id="type" name="type">
              <option value="addition">Addition</option>
              <option value="deduction">Deduction</option>
            </select></div>
        </div>
        <br>
        <div class="row center">
          <div class="col-1">
            <input type="submit" id="submit" value="submit">
          </div>
          <div class="col-1">
            <input type="reset" id="reset" value="reset">
          </div>
        </div>
        <br>
      </fieldset>
    </form>
  </nb-card-body>
</nb-card>
